body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #f4f4f4;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  /* overflow: hidden; */
}
h1{
    margin: 0;
}

.inputArea {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  /* width: 90%; */
  color: #f4f4f4;
  background: #1d3557;
  padding: 30px;
}

#input-el {
  width: 10%;
  padding: 6px;
  margin: 0px;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  border: 2px solid #8ecae6;
  background-color: #1d3557;
  border-radius: 5px;
}
#convertBtn {
  width: 30%;
  padding: 10px;
  box-shadow: 0px 1px 2px #1d3557;
  border: none;
  border-radius: 5px;
  background-color: #f1faee;
  display: none;
}
.units {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  height: 100vh;
  background-color: #8ecae6;
}
.length,
.weight,
.volume {
  width: 90%;
  height: 100px;
  background: #ffffff;
  /* border-radius: 4.68077px 0px 0px 0px; */
  border-radius: 5px;
  color: #2b283a;
}
.length {
  margin-top: 15px;
}
