body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #F4F4F4;
    text-align: center;
    /* font-family: 'Karla', sans-serif;f */
}

.container {
    
    max-width: 600px;
    margin: 0 auto;
    /* border: 2px solid #B295FF; */
    overflow: hidden;
}

.inputArea{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 100%;
    color: #F4F4F4;
    /* width: 550px; */
    background: #1d3557;
    padding: 10px;
}

#input-el{
    width: 10%;
    padding: 6px;
    font-weight: 400;
    font-size: 20px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    border: 2px solid #8ecae6;
    background-color: #1d3557;
    border-radius: 5px;
}
#convertBtn{
    width: 30%;
    padding: 10px;
    box-shadow: 0px 1px 2px #1d3557;
    border: none;
    border-radius: 5px;
    background-color: #f1faee;
}
.units{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    row-gap: 15px;
    height: 70vh;
    background-color: #8ecae6;
}
.lenght, .weight, .volume{
    width: 90%;
    height: 100px;
    background: #FFFFFF;
    border-radius: 4.68077px 0px 0px 0px;
}
.lenght{
    margin-top: 15px;
}